@import '../../style/_mixins.scss';
@import '../../style/_variables.scss';

.carrousel {
  @include block-center;
  object-fit: cover;
  position: relative;
  width: $large;
  height: 415px;
  margin: auto;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    @include block-center;
    border-radius: $grand;
  }

  .carrousel_arrow_right {
    position: absolute;
    right: 1%;
  }

  .carrousel_arrow_left {
    position: absolute;
    left: 1%;
  }

  .carrousel_counter {
    position: absolute;
    right: 50%;
    bottom: 5%;
    color: $color-secondary;
    font-weight: $bolder;
    font-size: $small;
  }
}

@media (max-width: 767px) {
  .carrousel {
    height: 255px;
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 26px;

    img {
      border-radius: $light;
    }

    .carrousel_arrow_right {
      width: 24px;
    }

    .carrousel_arrow_left {
      width: 24px;
    }

    .carrousel_counter {
      display: none;
    }
  }
}
