.lodgement_bloc {
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin: auto;

  .lodgement_bloc_a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .lodgement_title {
      color: #ff6060;
      font-size: 36px;
      font-weight: 500;
      margin-top: 20px;
    }
    .lodgement_location {
      color: #ff6060;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .lodge_tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .lodgement_tags {
        color: white;
        font-size: 14px;
        font-weight: 500;
        margin-right: 10px;
        background-color: #ff6060;
        border-radius: 10px;
        padding: 5px 30px 5px 30px;
      }
    }
  }

  .lodgement_bloc_b {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;

    .lodgement_name_picture {
      display: flex;
      align-items: center;
      margin-top: 20px;

      .lodgement_name {
        color: #ff6060;
        font-size: 18px;
        margin-right: 10px;
        text-align: right;
        max-width: 60px;
      }

      img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
      }
    }
  }

  .rating {
    margin-right: -5px;
    margin-bottom: -8px;
  }
}

.collapse_lodgement {
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin: auto;
  margin-bottom: 40px;
  gap: 20px;

  .collapse_descr,
  .collapse_equip {
    padding-top: 20px;
    font-size: 18px;
    width: 582px;
  }
}
@media (max-width: 767px) {
  .lodgement_bloc {
    flex-direction: column;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    .lodgement_bloc_a {
      .lodgement_title {
        font-size: 18px;
      }
      .lodgement_location {
        font-size: 14px;
      }
      .lodge_tags {
        flex-wrap: wrap;
        .lodgement_tags {
          font-size: 10px;
          border-radius: 10px;
          padding: 5px 20px 5px 20px;
        }
      }
    }
    .lodgement_bloc_b {
      flex-direction: row-reverse;
      align-items: center;
      .lodgement_name_picture {
        margin-top: 0;
        .lodgement_name {
          font-size: 12px;
        }
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
    .rating {
      margin-bottom: 0;
      margin-left: -3px;
      img {
        height: 18px;
      }
    }
  }
  .collapse_lodgement {
    flex-direction: column;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    .collapse_descr,
    .collapse_equip {
      width: 100%;
    }
  }
}
