.lodgement_title {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;

  margin-top: 20px;
}
.lodgement_location {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.lodgement_picture {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
.lodgement_bloc {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.lodgement_bloc_b {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
}
.lodgement_bloc_a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lodgement_tags {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
  background-color: #ff6060;
  border-radius: 20px;
  padding: 5px 30px 5px 30px;
}
.lodgement_name_picture {
  display: flex;
  align-items: center;

  margin-top: 20px;
}
.lodgement_name {
  color: #ff6060;
  font-size: 18px;
  margin-right: 10px;
  text-align: right;
  max-width: 95px;
}

.collapse_descr,
.collapse_equip {
  width: 582px;
  padding-top: 20px;
  min-height: 301px;
  font-size: 18px;
}
.collapse_equip {
  padding-left: 120px;
}
.collapse_lodgement {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}
.lodge_tags {
  display: flex;
  align-items: center;
}
.rating {
  margin-right: -5px;
}
