.link {
  padding-left: 40px;
  color: #ff6060;
  text-decoration: none;
}
.link.active {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .link {
    font-size: 12px;
  }
  .link.active {
    font-size: 12px;
  }
}
