//variables

//color

$color-primary: #ff6060;
$color-secondary: white;
$color-tertiary: black;
$color-quarternary: #f6f6f6;

//width

$large: 86%;

//font-size

$x_small: 14px;
$small: 18px;
$medium: 36px;

//border-radius

$light: 10px;
$grand: 25px;

//font-weight
$normal: 400;
$bolder: 500;
