@import '../../style/_mixins.scss';
@import '../../style/_variables.scss';

.error_img {
  @include block-center;
  margin-top: 205px;
}

.error_text {
  text-align: center;
  font-size: $medium;
  color: $color-primary;
  font-weight: $bolder;
  margin-top: 60px;
}

.error_link {
  color: $color-primary;
  font-weight: $bolder;
  text-align: center;
  font-size: $small;
  text-decoration: none;
  margin-top: 150px;
  margin-bottom: 80px;

  .link_err {
    color: $color-primary;
  }
}

@media (max-width: 767px) {
  .error_img {
    margin-top: 150px;

    img {
      width: 198px;
      height: 99px;
    }
  }

  .error_text {
    font-size: $small;
    margin: 20px 50px;
  }

  .error_link {
    font-size: $x_small;
    margin-top: 130px;
  }
}
